.nhsuk-header {
    .header-account-icon {
        background-image: url('/images/user_icon.svg');
        background-size: 19px 19px;
        background-repeat: no-repeat;
        background-position: 17px center;
        padding-left: 39px;
    }
}
