/* ==========================================================================
   Pages/ list-pages
   ========================================================================== */

/*
  This page contains all the additional styling used on ExceptionList, PreviouslyDelayedList
  and RejectionLists pages
*/

.width-25-percent {
  width: 25% !important;
}

.reason-more {
  font-size: 0.6em;
  color: blue;
}
