@using WmsHub.Ui.Models
@model ReferralListItemModel
<div id="wms-mobile-number-button" role="button">
  <div class="wms-mobile-number-button_content">
    <button class="nhsuk-button mobile-number-button"
            type="button">
      Update
    </button>
  </div>
</div>

<div role="dialog"
     id="wms-mobile-number-dialog"
     aria-labelledby="wms-mobile-number-dialog_label"
     aria-modal="true"
     class="hidden">
  <div class="nhsuk-card wms-card">
    <div class="nhsuk-card__content">
      <div class="dialog-header">
        <h2 id="wms-mobile-number-dialog_label" class="nhsuk-heading-l nhsblue">
          Update Mobile Number
        </h2>
      </div>
      <div class="dialog-content">
        <fieldset class="nhsuk-fieldset" aria-describedby="mobile-number-hint" role="group">
          <legend class="nhsuk-fieldset__legend">
            Example: +447 123 456789
          </legend>
          <div id="mobile-number-group" class="nhsuk-form-group">
            <span class="nhsuk-error-message hidden"
                  id="mobile-number-error">
              <span class="nhsuk-u-visually-hidden">Error:</span>
              A valid UK mobile number is required, starting with +447.
            </span>
            <label class="nhsuk-label nhsuk-date-input__label"
                   for="txtDelayReason">
              Mobile Number
            </label>
            <input class="nhsuk-input" id="mobile-number" type="text">
            <br />
          </div>  
        </fieldset>        
        <div>&nbsp;</div>
      </div>
      <button id="cancel_mobile_number" class="nhsuk-button nhsuk-button--secondary"
              type="button">
        Cancel
      </button>
      <button id="submitMobileNumber"
              type="submit"
              asp-action="UpdateMobileNumber"
              value="Update"
              name="update-mobile-number"
              class="nhsuk-button">
        Confirm
      </button>
    </div>
  </div>
</div>

@section scripts{
  <script src="~/js/views/shared/_MobileNumberUpdate.js" defer></script>
}
