@using WmsHub.Ui.Models
@model ReferralListItemModel
<div id="wms-rejection-button" role="button">
    <div class="wms-rejection-button_content">
        <button class="nhsuk-button nhsuk-button--danger" type="button" 
                onclick="openDialog('wms-rejection-dialog', this)">
            Reject to eReferrals
        </button>
    </div>
</div>

<div role="dialog"
     id="wms-rejection-dialog"
     aria-labelledby="wms-rejection-dialog_label"
     aria-modal="true"
     class="hidden">
    <div class="nhsuk-card wms-card">
        <div class="nhsuk-card__content">
            <div class="dialog-header">
                <h2 id="wms-rejection-dialog_label" 
                    class="nhsuk-heading-l nhsblue">
                    Confirm Reject to eReferrals
                </h2>
            </div>

            <div class="dialog-content">
              <div id="rejection-reason-group" class="nhsuk-form-group">
                <label class="nhsuk-label" for="example">
                  Rejection reason
                </label>
                <span class="nhsuk-error-message" style="display:none"
                      id="txtStatusReason-error">
                  <span class="nhsuk-u-visually-hidden">Error:</span>
                  A rejection reason of at least 5 characters is required.
                </span>
                <textarea class="nhsuk-textarea nhsuk-input--error"
                          cols="1"
                          id="txtStatusReason"
                          maxlength="2000"
                          name="txtStatusReason"
                          aria-describedby="txtStatusReason-error"
                          row="5">@Model.RejectionReason</textarea>
              </div>

            </div>
            <button class="nhsuk-button nhsuk-button--secondary" type="button" 
                    onclick="return cancel_rejection(this)">
                Cancel
            </button>
            <button 
                id="submitStatusReason"
                type="submit"
                asp-action="RejectToEreferrals"
                value="Confirm"
                name="confirm-rejection"
                class="nhsuk-button"
                onclick="return confirm_rejection();">
                Confirm
            </button>
        </div>
    </div>
</div>

<script type="text/javascript">

  function confirm_rejection() {
    if ($("#txtStatusReason").val().length < 5) {
      $("#txtStatusReason-error").show();
      $("#rejection-reason-group").addClass("nhsuk-form-group--error");
      return false;
    }
    $("#StatusReason").val($("#txtStatusReason").val());
    return true;
  }

  function cancel_rejection(control) {
    $("#txtStatusReason").val($("#StatusReason").val());
    $("#rejection-reason-group").removeClass("nhsuk-form-group--error");
    $("#txtStatusReason-error").hide();
    closeDialog(control)
  }

</script>