.ui-widget.ui-widget-content{
    border: none;
}


.ui-widget-header {
    border: 1px solid #005eb8;
    background-color: #005eb8;
    color: #fff;
}

.ui-widget-overlay {
    background: rgba(0, 0, 0, 0.3);
    opacity: unset;
}
