@{
    ViewData["Title"] = "Help";
    Layout = "~/Views/Shared/_BasicLayout.cshtml";
}

<div class="text-center">
    <h1 class="display-4">Help page</h1>
    <p>Content TBC</p>
</div>

@section scripts{
   <partial name="_ValidationScriptsPartial" />
}
