@{
    Layout = "~/Views/Shared/_BasicLayout.cshtml";
}


    <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-full">
            <div class="nhsuk-grid-row">
                <div class="nhsuk-grid-column-full">
                    <h1 class="nhsblue">NHS Digital Weight Management Programme Referral Hub</h1>
                    <p>This is the NHS Digital Weight Management Programme Referral Hub.</p>
                    <p>If you are referred to the service, you will be given a unique link to access this system. </p>
                    <p>You can find more information about weight management at <a href="https://www.nhs.uk/live-well/healthy-weight">https://www.nhs.uk/live-well/healthy-weight</a> </p>

                </div>
            </div>
        </div>
    </div>