@{
    ViewData["Title"] = "Error: Date of Birth Verification Failed";
    Layout = "~/Views/Shared/_BasicLayout.cshtml";
}


<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">
        <div class="nhsuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1">
            <h1 class="nhsuk-error-summary__title" id="error-summary-title">
                Verification failed
            </h1>
            <div class="nhsuk-error-summary__body">
                <p>
                    Your seeing this page because you have failed to verify your date of birth 3 consecutive times.
                </p>
                <ul class="nhsuk-list nhsuk-error-summary__list">
                </ul>
            </div>
            <h2 class="nhsuk-u-font-size-22 nhsuk-u-margin-top-4">Links to get help with the above issue</h2>
        </div>
    </div>
</div>